/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'Stifly';
  src: url('public/fonts/Stifly.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#chat-container {
  width: 100%;
  height: 100%;
  background-color: #1D2330;
  border-radius: 20px;
  box-shadow:
    inset 0 0 80px rgba(0,0,0,0.8),
    0 0 40px rgba(0,255,156,0.2);
}

#toolbar-container {
  background: linear-gradient(to right, 
  #1E90FF 0%,       
  #8A2BE2 40%,      
  #8A2BE2 70%,      
  #8A2BE2 100%);   
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.tool-button {
  border: none;
  background: none;
  color: white;
  transform: scale(2);
  transform-origin: center;
}
.tool-button:hover {
  color: #1D2330;
}

#server-status {
  background-color: lightgreen; 
  width: 10px; 
  height: 10px; 
  border-radius: 100%;
  animation: blink 1s infinite;
}

#active-users {
  color: white;
  font-family: 'Stifly', sans-serif;
}

@keyframes blink {
  50% { opacity: 0.3; }
}

#msg-container {
  background-color: #1E90FF;
  border-radius: 10px 10px 10px 10px;
  width: 90%;
  margin: 0 auto;
  transform: trasnlateX(-50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.msg {
  padding: 20px; 
  color: white; 
  line-height: 1.6; 
  font-family: 'Stifly', sans-serif;
}

#msg-form {
  display: flex;
  width: 100%;
  position: absolute; 
  bottom: 0px;
}

#msg-input {
  width: 100%;
  padding: 15px;
  background-color: lightgrey;
  color: black;
  border: 1px solid black;
  font-family: 'Stifly', sans-serif;
}

#msg-input:focus {
  background-color: white;
  outline: none;
  box-shadow: 0 0 0 2px #00ff9c; /* cyberpunk glow */
}

#submit {
  width: 15%; 
  background-color: #1E90FF; 
  color: white; 
  border: 1px solid black;
  font-family: 'Stifly', sans-serif;
}

#submit:hover {
  background-color: #B026FF;
}


